@import url(./satoshi.css);
@font-face {
    font-family: myFont;
    src: url(./kalseybold-rpxra.ttf);
}
body{
    padding: 0;
    margin: 0;
}
.sizing-display{
    background-color: #f4f4f4;
    height: 95lvh;
    width: 100%;
    padding-top: 4rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.heading-container{
    padding: 0rem 7.5rem 0 7.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.creative{
    font-family: Satoshi-BoldItalic;
    line-height: 0;
    margin: 0;

}
.sub-heading{
    font-size: 2.25rem; 
    line-height: 0;
    padding: 0;
    margin-top: -1rem;
}
p{
    font-family: satoshi;
    text-align: center;
}
.heading{
    font-family: myFont;
}
.left-text-align{
    text-align: left; !important
}
.main-heading{
    font-size: 12rem;
    opacity: 0.2;
    text-align: center;
    margin: 0;
    line-height: 90%;
}
.head-image{
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}
.header-image{
    height: 32rem;
}
h3{
    font-family: satoshi-Bold;
    font-size: 2rem;
    margin: 0;
    line-height:normal;
}
/* -------absolute---------- */
.dm{
    position: absolute;
}
.dumbellone{
    top: 16%;
    left: 20%;
}
.dumbelltwo{
    top: 16%;
    right: 20%;
}
@media(max-width: 1624px){
.dumbellone{
    top: 18%;
    left: 16%;
}
.dumbelltwo{
    top: 16%;
    right: 16%;
}
}
@media(max-width: 1252px){
    .dumbellone{
        top: 12%;
        left: 16%;
    }
    .dumbelltwo{
        top: 25%;
        right: 16%;
    }
}
@media(max-width: 996px){
    .dumbellone{
        top: 14%;
        left: 10%;
    }
    .dumbelltwo{
        top: 22%;
        right: 10%;
    }
}
@media(max-width: 868px){
    .dumbellone{
        height: 16%;
    }
    .dumbelltwo{
        height: 18%;
    }
}
/* -------absolute---------- */

@media(max-width: 1152px){
    .heading-container {
        padding: 0rem 12rem 0 12rem;
    }
    .main-heading{
        font-size: 10rem;
        line-height: 92%;
    }

    .sub-heading{
        font-size: 1.75rem;   
    }
}
@media(max-width: 868px){
    .heading-container {
        padding: 0rem 8rem 0 8rem;
    }
    .main-heading{
        font-size: 10rem;
        line-height: 89%;
    }

    .sub-heading{
        font-size: 1.75rem;   
    }

}
/* ---------768------------ */
@media(max-width: 768px){
    .container{
        height: 80lvh;
    }
    .heading-container {
        padding: 0rem 7.5rem 0 7.5rem;
    }
    .main-heading{
        font-size: 7rem;
        line-height: 89%;
    }

    .sub-heading{
        font-size: 1.65rem;  
        margin-top: 0.25rem; 
    }
    .head-image{
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;
    }
    .header-image{
        height: 24rem;
    }
}
@media(max-width: 600px){
    .heading-container {
        padding: 0rem 2rem 0 2rem;
    }
    .dumbellone{
        height: 14%;
    }
    .dumbelltwo{
        height: 14%;
    }
}
   
@media(max-width: 445px){
    .container{
        height: 68lvh;
    }
    .heading-container {
        padding: 0rem 2rem 0 2rem;
    }
    .main-heading{
        font-size: 6rem;
        line-height: 89%;
    }

    .sub-heading{
        font-size: 1.45rem;  
        margin-top: 0.25rem; 
    }
    .dm{
        visibility: hidden;
    }
    .header-image{
        height: 20rem;
    }
}
/* ------------------------------------ */
/* ------------------------------------ */
.quote-container{
    display: flex;
    width: 100%;
    gap: 1.5rem;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 0 4rem 0;
}
.profile-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.profile-image{
    height: 8rem;
}
.quote-text-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0rem 2rem 0 2em;
}
.quote-heading{
    font-size: 2rem;
    margin: 0;
}
.text-container{
    font-size: 1rem;
    margin: 0;
    padding: 0;
    line-height: normal;
}
hr {
    border: dotted #D9D9D9 8px;
    border-bottom: none;
    width: 8%;
}
@media(min-width: 1428px){
    .quote-container{
        gap: 2rem;
        margin: 12rem 0 12rem 0;
    }

    .quote-text-container{
        gap: 0;
        padding: 0rem 16rem 0 16em;
    }
    .profile-image{
        height: 100%;
    }
    .quote-heading{
        font-size: 4rem;
    }
    .text-container{
        font-size: 1.8rem;
    }
    hr {
        border: dotted #D9D9D9 16px;
        border-bottom: none;
        width: 4%;
    }
}

@media(max-width: 1427px) and (min-width: 600px){
    .quote-container{
        gap: 2rem;
        margin: 12rem 0 12rem 0;
    }

    .quote-text-container{
        gap: 0;
        padding: 0rem 8rem 0 8rem;
    }
    .profile-image{
        /* width: 12%;
        height: 12%; */
        height: 8rem;
    }
    .quote-heading{
        font-size: 3rem;
    }
    .text-container{
        font-size: 1.4rem;
    }
    hr {
        border: dotted #D9D9D9 12px;
        border-bottom: none;
        width: 4%;
    }
}
/* -------------------------------- */
.sizing-skills{
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
    gap: 6rem;
    background-color: #f4f4f4;
    max-width: 100%;
    padding: 8rem 19rem 8rem 19rem;
}
.skill-collection{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4rem;
}
.image-container{
    margin: auto;
    display: flex;
    justify-content: center;
}
.skill-heading{
    font-family: satoshi;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    text-align: center;
}
.skills{
    display: flex;
    gap: 2rem;
    width: auto;
}
.skill-text{
    display: flex;
    width: auto;
    gap: 1rem;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

@media(max-width: 1428px){
    .sizing-skills{
        padding: 6rem 10rem 6rem 10rem;
    }
.skill-collection{
    gap: 4rem;
}
.skill-heading{
    font-size: 3rem;
    text-align: center;
}
.skills{
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.skill-text{
    gap: 0.25rem;
    text-align: center;
    flex-direction: column;
}
.left-text-align{
    text-align: center;
}
}

@media(max-width: 1427px) and (min-width: 600px){
    .sizing-skills{
        padding: 6rem 8rem 6rem 8rem;
    }
.skill-collection{
    gap: 4rem;
}
.skill-heading{
    font-size: 3rem;
    text-align: center;
}
.skills{
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
h3{
    font-size: 2rem;
}
.skill-text{
    gap: 0.25rem;
    text-align: center;
    flex-direction: column;
}
.left-text-align{
    text-align: center;
}
}

@media(max-width: 599px){
    .sizing-skills{
        margin-top: 4rem;
        padding: 4rem 4rem 4rem 4rem;
        gap: 3rem;
    }
.skill-collection{
    gap: 4rem;
}
.skill-heading{
    font-size: 2.5rem;
    text-align: center;
}
.skills{
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
h3{
    font-size: 2rem;
}
.skill-text{
    gap: 0.25rem;
    text-align: center;
    flex-direction: column;
}
.left-text-align{
    text-align: center;
}
.skill-image{
    width: 80%;
}
}

@media(max-width: 445px){
    .sizing-skills{
        margin-top: 4rem;
        padding: 4rem 2rem 4rem 2rem;
        gap: 2rem;
    }
    h3{
        font-size: 1.75rem;
    }
    .skill-collection{
        gap: 3rem;
    }

}
/* ------------------------ */

.banner-container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 8rem 0 8rem 0;
    padding: 0 1rem 0 1rem;
}
.secondary-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.cta-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cta-btn{
    font-family: satoshi-Bold;
    font-size: 1.5rem;
    padding: 1rem 3rem 1rem 3rem;
    color: #fff;
    background-color: #2E2E2E;
    cursor: pointer;

}
@media(max-width: 500px){
    .banner-container{
        margin: 4rem 0 4rem 0;
        gap: 3rem;
    }
    .cta-btn{
        font-size: 1.25rem;
        width: 100%;
        padding: 0.75rem 2rem 0.75rem 2rem;
    }
    .btn-box{
        width: 100%;
    }
}
/* ------------------------ */
ul{
    padding: 0;
}
.footer-container{
    display: flex;
    background-color: #f4f4f4;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
    padding: 1rem 4rem 1rem 4rem;
}
.site-link{
    display: flex;
    font-family: satoshi-Medium;
    font-size: 1.05rem;
    justify-content: space-between;
}
a{
    text-decoration: none;
    text-decoration-line: none;
    color: #2E2E2E;
}
#copyright{
    font-size: 12px;
    color: #797979;
}

@media(min-width: 500px){
    .footer-container{
        display: flex;
        background-color: #f4f4f4;
        justify-content: center;
        max-width: 100%;
        flex-direction: column;
        padding: 1rem 6rem 1rem 6rem;
    }
    #copyright{
        font-size: 1rem;
        color: #797979;
    }
    .site-link{
        font-size: 1.25rem;
    }
}

@media(min-width: 728px){
    .footer-container{
        padding: 1rem 12rem 1rem 12rem;
    }   
}

@media(min-width: 1200px){
    .footer-container{
        padding: 1rem 16rem 1rem 16
        rem;
    }   
}

@media(min-width: 1427px){
    .footer-container{
        display: flex;
        background-color: #f4f4f4;
        justify-content: center;
        max-width: 100%;
        flex-direction: column;
        padding: 1rem 24rem 1rem 24rem;
    }   
}