@import url(./satoshi.css);
@font-face {
    font-family: myFont;
    src: url(./kalseybold-rpxra.ttf);
}
body{
    padding: 0;
    margin: 0;
}
.container{
    background-color: #f4f4f4;
    height: 95lvh;
    padding: 4rem 7.5rem 0 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.heading-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.creative{
    font-family: Satoshi-BoldItalic;
    font-size: 2.25rem;
    line-height: 0;
    margin: 0;
    font-style: ;
}
.sub-heading{
    font-family: satoshi;
    font-size: 2.25rem; 
    line-height: 0;
    padding: 0;
    margin-top: -1rem;
}
p{
    text-align: center;
}
.main-heading{
    font-family: myFont;
    font-size: 12.75rem;
    opacity: 0.2;
    text-align: center;
    margin: 0;

}
.head-image{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.header-image{
    height: 32rem;
}
.dm{
    position: absolute;
}
.dumbellone{
    top: 20%;
    left: 20%;
}
.dumbelltwo{
    top: 20%;
    right: 20%;
}